.main {
  grid-area: right;
  display: flex;
	flex-direction: column;
  margin: 0;
  padding: 100px 0 20px 0;
  width: auto;
  height: 100%;
  max-height: calc(100% - 140px);
  overflow: hidden;
}

.items {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 10px;
  min-height: 60px;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  max-height: 400px;
}

.items::-webkit-scrollbar {
  width: 8px;
}

.items::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.items::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.border {
  border: 2px dashed #8585ad;
  margin: 10px 20px;
  margin-left: 50px;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
}