.container {
<<<<<<< Updated upstream
  --header-bg-color: #1C1C21;
=======
>>>>>>> Stashed changes
  width: 720px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--header-bg-color);
  border-radius: 40px;
}

.close {
  position: absolute;
	justify-self: flex-end;
<<<<<<< Updated upstream
=======
	margin: 0;
>>>>>>> Stashed changes
	padding: 0;
	z-index: 3;
	width: 24px;
	height: 24px;
	top: 63px;
	right: 43px;
	background-color: transparent;
	border: none;
	cursor: pointer;
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
