.main {
  grid-area: left;
  display: flex;
	flex-direction: column;
  justify-content: center;
  margin: 0;
  margin-bottom: auto;
  margin-top: 108px;
  padding: 0;
  overflow: hidden;
  max-height: calc(100% - 60px);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: calc(100vh - 208px);
  grid-area: main;
}
