.item {
  display: flex;
	align-items: start;
  min-width: 178px;
  width: auto;
  padding: 10px 0;
  margin: 0;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}

.container {
  display: flex;
	align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
}

.link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--color);
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.inactive {
  color: #8585AD;
}

.link:active, .link:hover {
  text-decoration: none;
  color: var(--color);
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .item {
    width: 100%;
  }
}
