.main {
  display: flex;
  flex-direction: column;
  column-gap: 40px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 10px;
  max-width: var(--width-xl);
  max-height: calc(100vh - 88px);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 240px);
}

.title {
  width: 100%;
}

.image {
  width: 480px;
  height: 240px;
  border: 0;
}

.list {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	justify-content: space-between;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.text {
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  text-align: center;
}
