.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
  margin-right: 16px;
  font: var(--color);
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 66px;
}
