.sublinks {
  margin: 0;
  padding: 0 10px 10px 32px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.sublink {
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
  text-align: left;
  color: var(--color);
}
.inactive {
  color: #8585AD;
}

.sublink:visited {
  text-decoration: none;
}

.sublink:active, .sublink:hover {
  text-decoration: none;
  color: var(--color);
}


.sublink:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 1023px) {
  .sublinks {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--header-bg-color);
    position: absolute;
    top: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .item {
    width: 100%;
  }
}
