.groups {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  column-gap: 24px;
  margin: 40px 0 0;
  padding: 0 8px 0 0;
  list-style: none;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.groups::-webkit-scrollbar {
  width: 8px;
}

.groups::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.groups::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
