.groups {
  display: flex;
  /* grid-template-columns: 1fr; */
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* gap: 0; */
  list-style: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.groups::-webkit-scrollbar {
  width: 8px;
}

.groups::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.groups::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
