.root {
  --width-none: 100%;
  --width-sm: 640px;
  --width-md: 768px;
  --width-lg: 1024px;
  --width-xl: 1280px;
  --width-2xl: 1536px;
  --header-bg-color: #1C1C21;
  --background-color: #131316;
<<<<<<< Updated upstream
  /* --background-overlay: rgba(0, 0, 0, 0.6); */
=======
  --background-overlay: rgba(0, 0, 0, 0.6);
>>>>>>> Stashed changes
  --color: #fff;
  height: 100vh;
  background-color: var(--background-color);
}
