.header {
	width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--header-bg-color);
	grid-area: header;
}

.container {
  display: grid;
  grid-template-areas: "menu-main logo menu-user";
  grid-template-columns: 40% 20% 40%;
  gap: 0;
	width: 100%;
  max-width: var(--width-xl);
  margin: 0 auto;
  padding: 16px 0;
  box-sizing: border-box;
}
