.header {
	width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--header-bg-color);
	grid-area: header;
  min-height: 88px;
}

.container {
  display: grid;
  grid-template-areas: "menu-main logo menu-user";
  grid-template-columns: minmax(auto, 40%) minmax(290px, 20%) minmax(auto, 40%);
  gap: 0;
	width: 100%;
  max-width: var(--width-xl);
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  align-items: center;
}

.menu {
  max-width: var(--width-xl);
  width: 100%;
	padding: 0;
  margin: 0;
}

.menu_base {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main_menu {
  composes: menu_base;
  justify-content: flex-start;
  grid-area: menu-main;
}

.user_menu {
  composes: menu_base;
  justify-content: flex-end;
  grid-area: menu-user;
}

@media screen and (width <= 319px) {
  .mainmenu {
    display: none;
  }

  .user_menu {
    display: none;
  }
}

@media screen and (width >= 320px) and (width <= 1023px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px;
    width: 100%;
  }

  .header {
    min-height: 64px;
  }

  .main_menu {
    display: none;
  }

  .user_menu {
    display: none;
  }
}
